body {
	color: black;
	font-family: Arial, sans-serif;
	margin: 0;
	background: white;
}

header {
	margin: 0;
	padding-left: 18vw;
	height: 50px;
	display: flex;
	align-items: center;
}

h1 {
	margin: 0 0 0 150px;
	color: black;
	font-size: 30px;
}

span {
	font-size: 0.8em;
	background: black;
	color: white;
	padding: 3px 7px 3px 7px;
	border-radius: 6px;
	margin-left: 3px;
}

button {
	display: inline;
}

#burgers-container {
	display: flex;
}

.eaten-burger-form {
	display: inline;
}

#burgers-available {
	flex-grow: 1;
	padding: 0.5em 1em 2em 2em;
	background: slategray;
	margin: 1em 1em 1em 0;
}

#burgers-eaten {
	flex-grow: 1;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 0.5em 1em 2em 2em;
	margin: 1em 0 1em 1em;
}

#burgers-eaten h2, #burgers-eaten div {
	color: slategray;
}

.wrapper {
	max-width: 50%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

#create-burger {
	display: flex;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 50px;
}

.burger {
	line-height: 3;
}

#submit-btn {
	padding: 0.2em 0.6em 0.2em 0.6em;
	font-size: 1.2em;
	background: slategray;
	border: none;
	margin-left: -5px;
}

.eat-btn {
	margin-right: 0.5em;
	padding: 1px 5px 1px 5px;
	background: green;
	border-color: green;
	border-radius: 4px;
}

#burger-name {
	padding: 0.1em 0.6em 0.1em 0.6em;
	font-size: 1.2em;
}